label {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 14px
}

.btn-group {
  margin: 0
}

/*
.input-group {
  margin: 0.25em
}
*/
a:not(.btn):not(.dropdown-item):not(.navbar-brand):not(.nav-link), .nav-tabs a {
  color: #337ab7
}

/*
.btn {
  color: #484848;
}

.btn:hover {
  color: #181818;
}

.btn.btn-sm {
  min-width: 36px;
  height: 31px;
  padding-top: 5px;
  margin: 0
}
*/
.btn-light {background-color:rgba(248,249,250,0.6);border:none;min-width:34px}
.btn-light, .btn-light:not([href]):not([tabindex]) {color:#484848;}
.btn-light:hover, .btn-light:not([href]):not([tabindex]):hover {color:#181818}

.btn .fa, .btn .far {
  font-size: 1rem
}

/*
.btn-group>.btn:not(:last-child):not(:first-child:last-child):not(.btn-primary):not(.btn-secondary):not(.btn-warning):not(.btn-info) {
  border-right: none
}
.btn-group>.btn.active {
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}
*/

:not(.input-group-append):not(.input-group-prepend)>.btn:not(.btn-sm) {
  border-radius: 2px
}

.btn.btn-primary, .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.dropdown-toggle:active, .show>.btn-primary.dropdown-toggle, .btn-primary.dropdown-toggle:focus {
  background-color: #286090 !important;
  border-color: #204d74
}

.bg-primary {
  color: #fff;
  background-color: #337ab7 !important;
}

.btn-warning {
  background-color: #f0ad4e;
  border-color: #eea236
}

.btn-warning:hover, .btn-warning:active, .btn-warning:focus {
  background-color: #ec971f !important;
  border-color: #d58512
}

/*
.btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-outline-secondary:hover {
  color: #fff
}
*/

input::placeholder {
  font-size: 14px !important
}

.card {
  line-height: 32px
}

/*
.card-header {
  line-height: 36px
}
*/

.list-group {
  line-height: 16px
}

.nav .dropdown-item a {
  padding: 0
}

/*
.nav .dropdown-divider {
  margin-bottom: 0.25rem
}
*/
.dropdown-menu .dropdown-divider {
  margin: 0.15rem 0;
}

.nav-pills .nav-link.active, :not(.navbar-nav) .dropdown-item:active {
  background-color: #337ab7;
}

select.custom-select.form-control-sm {
  padding: 4px
}
